.wrapper-container {
    width: 100%;
    min-height: 100dvh;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;

    width: 100%;
    min-height: 100dvh;
    padding: 14px 20px;
}
