* {
    box-sizing: border-box;
}

body {
    margin: auto;

    font-family: Georgia, "Times New Roman", serif;

    background-image: radial-gradient(rgba(47, 41, 32, 0.09) 0.7px, rgba(0, 0, 0, 0) 0.7px), linear-gradient(90deg, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0) 45%, rgba(59, 48, 33, 0.04));
    background-color: #e9e1d0;
    color: #182229;
}

button,
input,
select,
textarea {
    box-shadow: none;
    background-image: none;
    border: 1px solid #ccc;
    font: inherit;
}